<article class="article-main" itemscope="" itemtype="http://schema.org/Article">



    <meta itemprop="mainEntityOfPage" content="phan-biet-ma-code-va-ma-san-xuat-vot-cau-long">
    <meta itemprop="description" content="">
    <meta itemprop="author" content="VNBSports">
    <meta itemprop="headline" content="Phân biệt mã code phân phối và mã sản xuất vợt cầu lông, bạn đã từng bị nhầm?">
    <meta itemprop="image" content="/content/images/thumbs/newThumbsDir/pp_0008346_670.jpeg">
    <meta itemprop="datePublished" content="1532892165">
    <meta itemprop="dateModified" content="1532892165">
    <div class="hidden" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
            <img src="https://shopvnb.com/templates/images/logo.png" alt="VNBSports">
            <meta itemprop="url" content="https://shopvnb.com/templates/images/logo.png">
            <meta itemprop="width" content="200">
            <meta itemprop="height" content="49">
        </div>
        <meta itemprop="name" content="Phân biệt mã code phân phối và mã sản xuất vợt cầu lông, bạn đã từng bị nhầm?">
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-head">Phân biệt mã code phân phối và mã sản xuất vợt cầu lông, bạn đã từng bị nhầm?</h1>
            <div class="postby">
                <span>Đăng lúc 30-07-2018 09:22:45</span>
            </div>
            <div class="article-details">
                <div class="article-content">
                    <div class="rte">
                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">Khá nhiều bạn mới chơi cầu lông và nhiều bạn chơi lâu năm vẫn thường hay bị nhầm mã code phân phối và mã sản xuất vợt cầu lông. Bài viết này sẽ giúp bạn giải đáp thắc mắc đó một lần và mãi mãi.</span></p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">Trước tiên, các bạn có thể theo dõi video về quy trình sản xuất vợt cầu lông của Yonex. Đây là một nhà máy sản xuất vợt Yonex cao cấp tại Nhật Bản.</span></p>

                        <p style="text-align:center"><iframe allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/AeCakUK_1Js" width="560"></iframe></p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">Trong video, chúng ta có thể thấy qua nhiều khâu sản xuất và kiểm tra nghiêm ngoặt sẽ cho ra vợt phôi Yonex. Sau đó mới dùng phôi này để sơn, khắc số serie cũng như số code phân phối, nơi sản xuất...</span></p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt"><strong>* Về số mã code trên vợt. Thứ tự số seri có dạng XX MM YA BB được quy định cụ thể như sau:</strong></span></p>

                        <p style="text-align:justify">
                            <span style="font-family:arial,helvetica,sans-serif; font-size:12pt">– XX là ngày sản xuất ra cây vợt được quy định theo tháng (1-31)</span><br>
                            <span style="font-family:arial,helvetica,sans-serif; font-size:12pt">– MM là tháng sản xuất vợt (1-12)</span><br>
                            <span style="font-family:arial,helvetica,sans-serif; font-size:12pt">– Y là năm sản xuất vợt (0-9)</span><br>
                            <span style="font-family:arial,helvetica,sans-serif; font-size:12pt">– A là số lô hàng mà Yonex sản xuất ra.</span><br>
                            <span style="font-family:arial,helvetica,sans-serif; font-size:12pt">– BB là mã phân phối cho các thị trường thế giới như: JP – Japan – Nhật Bản, TH – Thailand – Thái Lan, SP – Singapore, TW – Taiwan, IP – Internantionnal Player (mã dành cho các vận động viên chuyên nghiệp), CA – Canada…</span>
                        </p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">- Một lưu ý nhỏ nhưng mọi người ít chú ý, các mã code trên vợt chỉ là mã phân phối thị trường chứ không phải nơi sản xuất, các dòng vợt Yonex đời cao đều được sản xuất tại Nhật Bản. Ví dụ như vợt đó được bán tại Singapore, Nhật Bản hay Thái Lan...</span></p>

                        <p style="text-align:center">
                            <span style="color:#0000ff; font-family:arial,helvetica,sans-serif; font-size:12pt"><img alt="" src="/img/full/content/images/uploaded/vot-cau-long/cach-phan-biet-ma-code-phan-phoi-voi-ma-xuat-xu -1.jpg" style="width:350px"></span><br>
                            <span style="color:#0000ff; font-family:arial,helvetica,sans-serif; font-size:12pt">Mã code phân phối trên vợt cao cấp Yonex. Ảnh: Internet.</span>
                        </p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">Mã SP: Mã này được phân phối bởi công ty Sunrise có trụ sở tại Singapore nên trên vợt có dán thêm tem của Sunrise có hình kiểu như con bướm óng ánh. Ngoài ra mã SP có thêm biểu tượng PBSI đặc trưng gồm 2 bông lúa, bên trái màu vàng, bên phải màu trắng (nếu cả 2 trắng là vợt fake). Mã SP Quốc tế thì chỉ có tem Yonex và biểu tượng bông lúa PBSI, còn mã SP ở VN thì có thêm tem của nhà phân phối và tem Bộ Công An.</span></p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">Mã JP (hiện đã thay bằng XF): Mã JP có đặc điểm là có chữ S chiện cạnh chỗ ghi U G và đặc biệt thông số tension (sức căng) chỉ được ghi thông số lbs mà không quy đổi ra kg như các mã khác (đây cũng là dấu hiệu để phân biệt mã JP fake).</span></p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">Mã TH thì đa số là đặc điểm chung và chỗ seal dán thêm 1 giấy tiếng Thái, phiếu bảo hành tiếng Thái, Mã TW tương tự chỉ khác mã và phiếu bảo hành tiếng Trung.</span></p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">* Về Nơi sản xuất: Hiện vợt Yonex sản xuất ở 3 nước là Nhật Bản cho các dòng vợt cao cấp, Đài Loan các dòng trung cấp và Trung Quốc các dòng cơ bản. Nơi sản xuất được ký hiệu bằng chữ "Made in..." trên thân vợt.</span></p>

                        <p style="text-align:center">
                            <span style="color:#0000ff; font-family:arial,helvetica,sans-serif; font-size:12pt"><img alt="" src="/img/full/content/images/uploaded/vot-cau-long/cach-phan-biet-ma-code-phan-phoi-voi-ma-xuat-xu -2.jpg" style="height:197px; width:350px"></span><br>
                            <span style="color:#0000ff; font-family:arial,helvetica,sans-serif; font-size:12pt">Nơi sản xuất vợt được thể hiện bằng "Made in..." ở nắp chụp vợt dưới. Ảnh: Internet.</span>
                        </p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt">Do đó, nếu bạn thấy trên một cây vợt có mã là SP nhưng Made in China thì cũng đường bấn loạn nhé. Thật chất đây là cây vợt tầm thấp được sản xuất tại Trung Quốc nhưng phân phối ở Singapo mà thôi. Đến đây ắt hẳn bạn đã có thể tự giải đáp về cách phân biệt mã code phân phối và mã sản xuất vợt cầu lông rồi đó.</span></p>

                        <p style="text-align:justify"><span style="font-family:arial,helvetica,sans-serif; font-size:12pt"><strong>Xem thêm:</strong> Cập nhập ngay&nbsp;<a href="https://shopvnb.com/cach-phan-biet-vot-cau-long-yonex-that-va-gia-2018.html" target="_blank">cách phân biệt vợt cầu lông Yonex thật và giả</a> mới nhất 2018</span></p>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12">

        </div>











        <div class="col-md-12">
            <div class="blog_related">
                <h2>Bài viết liên quan</h2>








                <article class="blog_entry clearfix">
                    <h3 class="blog_entry-title"><a rel="bookmark" href="https://localhost:44370/Customer/News/chuyen" title="Những phụ kiện cần thiết trong môn cầu lông"><i class="fa fa-angle-right" aria-hidden="true"></i> Những phụ kiện cần thiết trong môn cầu lông</a></h3>
                </article>
                <article class="blog_entry clearfix">
                    <h3 class="blog_entry-title"><a rel="bookmark" href="https://localhost:44370/Customer/News/timhieuvemoncaulong" title="Tìm hiểu về môn cầu lông"><i class="fa fa-angle-right" aria-hidden="true"></i> Tìm hiểu về môn cầu lông</a></h3>
                </article>
                <article class="blog_entry clearfix">
                    <h3 class="blog_entry-title"><a rel="bookmark" href="https://localhost:44370/Customer/News/votcaulongyonexvoltric1dgnewcayvotthienconggiatot" title="Vợt cầu lông Yonex Voltric 1 DG New – Cây vợt thiên công giá tốt"><i class="fa fa-angle-right" aria-hidden="true"></i> Vợt cầu lông Yonex Voltric 1 DG New – Cây vợt thiên công giá tốt</a></h3>
                </article>
                <article class="blog_entry clearfix">
                    <h3 class="blog_entry-title"><a rel="bookmark" href="https://localhost:44370/Customer/News/kythuatchoicaulong" title="Top 6 kỹ thuật chơi cầu lông cần thành thục ngay để cải thiện trình độ"><i class="fa fa-angle-right" aria-hidden="true"></i> Top 6 kỹ thuật chơi cầu lông cần thành thục ngay để cải thiện trình độ</a></h3>
                </article>
                <article class="blog_entry clearfix">
                    <h3 class="blog_entry-title"><a rel="bookmark" href="https://localhost:44370/Customer/News/tapdanhcaulong" title="3 lý do nên cho con bạn tập đánh cầu lông ngay khi có thể"><i class="fa fa-angle-right" aria-hidden="true"></i> 3 lý do nên cho con bạn tập đánh cầu lông ngay khi có thể</a></h3>
                </article>






            </div>
        </div>

        <div class="col-md-12">


            <div id="article-comments" class="clearfix" data-id="" data-mod="tin_tuc">
                <h5 class="title-form-coment">Bình luận (0 bình luận)</h5>



            </div>




            <form accept-charset="UTF-8" action="javascript:GuiBinhLuan('','tin_tuc')" id="article_comments" method="post" class="has-validation-callback">
                <input name="FormType" type="hidden" value="article_comments">
                <input name="utf8" type="hidden" value="true">


                <div class="col-lg-12">
                    <div class="form-coment margin-bottom-30">
                        <div class="row">
                            <div class="">
                                <h5 class="title-form-coment">VIẾT BÌNH LUẬN CỦA BẠN:</h5>
                            </div>
                            <fieldset class="form-group col-xs-12 col-sm-12 col-md-12">
                                <input placeholder="Họ tên" type="text" class="form-control form-control-lg" value="" id="ho_ten" name="ho_ten" data-validation-error-msg="Không được để trống" data-validation="required" required="">
                            </fieldset>
                            <fieldset class="form-group col-xs-12 col-sm-12 col-md-12">
                                <textarea placeholder="Nội dung" class="form-control form-control-lg" id="noi_dung" name="noi_dung" rows="6" required="" data-validation-error-msg="Không được để trống" data-validation="required"></textarea>
                            </fieldset>
                            <div>
                                <button type="submit" class="btn btn-blues"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Gửi bình luận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</article>